node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Sepolia testnet
ignition/deployments/chain-11155111/artifacts/*.dbg.json
ignition/deployments/chain-11155111/build-info
ignition/deployments/chain-11155111/journal.jsonl

# dotenv
.env
